# Ignore custom cmake directories
bin/

# Ignore generated ANTLR sources
gen/

# Ignore CLion files
cmake-build*/
.idea/

grammar/.antlr/
build/
.vscode/

# Ignore everything in tests/ folder except a few folders and files.
tests/*
!tests/input/
!tests/output/
!tests/inStream/
!tests/helpers/
!tests/GazpreaConfig.json

lli-temp.out
tests/memchk.out
*.ll

src/CMakeFiles/
src/Makefile
src/gazc
src/cmake_install.cmake

runtime/CMakeFiles/
runtime/src/CMakeFiles/
runtime/Makefile
runtime/cmake_install.cmake

CMakeFiles/

cmake_install.cmake
CMakeCache.txt
Makefile
libparser.a
test.ll
runtime/src/libgazrt.so
tests/GazpreaConfig.json
